@model NWXray.Models.Case

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientFirstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientFirstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientLastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientLastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientInquiry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientInquiry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientRequestDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientRequestDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DealerRespond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DealerRespond)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DealerRespondDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DealerRespondDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DealerUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DealerUserName)
        </dd>
    </dl>
</div>
<div>
    <input class="btn-primary btn-lg" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Cases", new { id = Model.Id })'" />
                 
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> *@
    <a asp-action="Index">Back to List</a>
</div>
